* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 444px;
  padding: 14px 0 58px 31px;
  background-color: #2c2fdd;
}

.wrapper-menu {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 500;
  font-size: 32px;
  line-height: 38.73px;
  color: #fff;
}

.item-menu {
  display: inline-block;
  margin-left: 30px;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 19.36px;
  color: #fff;
}

a.active {
  border-bottom: 1px solid #fff;
}

.wrapper-header-content {
  width: 1160px;
  height: 327px;
  margin-left: 152px;
  display: flex;
  align-items: center;
}

.wrapper-header-content p {
  width: 583px;
  padding-right: 15px;
  font-size: 28px;
  line-height: 33.89px;
  color: #fff;
}

.selected-text {
  color: #e28624;
}

.wrapper-header-content div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 100%;
}

.btn-TryNow {
  display: block;
  width: 318px;
  height: 51px;
  margin-top: 60px;
  border-radius: 10px;
  background-color: #e28624;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 51px;
  text-align: center;
}

.wrapper-main {
  width: 1202px;
  margin: 100px auto 50px; 
}

.wrapper-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 200px;
}

.wrapper-content p {
  font-size: 36px;
  line-height: 43.57px;
  color: #908484;
}

.txtRight {
  height: 100%;
  margin-left: 175px;
}

.txtLeft {
  height: 100%;
  margin-right: 175px;
}

footer {
  width: 100%;
  height: 250px;
  padding: 27px 0 0 26px;
  background-color: #404040;
}

footer .logo {
  font-weight: 400;
  font-size: 22px;
  line-height: 26.63px;
}

.wrapper-photo {
  width: 1007px;
  position: absolute;
  top: 278px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}

.upload,
.editedPhoto {
  width: 496px;
  height: 285px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.txtCenter {
  margin: 170px auto;
  padding: 35px;
  width: 584px;
  height: 735px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.txtCenter h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 43.57px;
}

.txtCenter p {
  font-weight: 400;
  font-size: 36px;
  line-height: 43.57px;
}

.hidden {
  display: none;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  width: 283px;
  height: 112px;
  background-color: #ffc5f8;
  color: #000;
  font-size: 24px;
  line-height: 112px;
  border-radius: 70px;
  cursor: pointer;
}

.custom-file-upload .icon {
  margin-left: 8px; 
}